.trade-tile--page-header {
  .tile__image-container {
    padding-bottom: 35.4%;
  }
}

@media @martiniLarge {

  .trade-tile--page-header {
    .tile__image-container {
      padding-bottom: 28.2%;
    }
  }
}