.event-button-wrapper {
  display:inline-block;

  &.button_center {
    display:block;
    text-align:center;
  }

  &.button_margin {
    margin: 16px 12px;
  }

  .event-button {
    .tesco-font();
    background-color: @tesco-blue;
    border: 2px solid @tesco-blue;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: box-shadow 0.3s;
    white-space: nowrap;
    margin: 0;
    letter-spacing:0;
    font-size: 16px;
    padding: 9px 20px;
    min-height: 40px;
    box-sizing: border-box;

    .link-icon {
      background-size: 20px;
      display: inline-block;
      height: 14px;
      width: 8px;
      position: relative;
      top: 2px;
      background-position: -5px 40%;
    }

    .link-label {
      border-bottom: 1px solid transparent;
      display: inline-block;
      font-style: normal;
      line-height: 1em;
      margin-right: 8px;
      transition: border 0.3s;
    }
    &:hover {
      box-shadow: fade(@tesco-blue, 40%) 0 0 0 4px;
      .link-label {
        text-decoration: none;
        border-bottom-color: white;
      }
    }
  }

  &.event-button-secondary {
    .event-button {
      background-color: transparent;
      color: @tesco-blue;
      border-width: 2px;
      &:hover {
        .link-label {
          border-bottom-color: @tesco-blue;
        }
      }
    }
  }

  &.event-button-custom {
     .event-button {
       border:none;
     }
  }

  &.button_back {
    .event-button {
      .link-label {
        margin:0;
      }
      .link-icon {
        float:left;
        margin-right:8px;
        transform: rotate(-180deg);
        position:relative;
        top:4px;
      }
    }
  }

}