<!--
  To make the headline centered, add the following class: 
  
  ui-c-l--content-title--centered
-->


<!-- WITHOUT SUBTITLE -->

<div class="row clearfix"><div class="ui-c-l--content-title"><h2 class="content-title__tag"><span class="content-title__txt">{title}</span></h2></div></div>

<!-- WITH SUBTITLE -->

<div class="row clearfix">
  <div class="ui-c-l--content-title ui-c-l--content-title--has_subtitle">
    <h2 class="content-title__tag"><span class="content-title__txt">{title}</span></h2>
    <p class="content-title__subtitle">{subtitle}</p>
  </div>
</div>
