<!--

'event-button-wrapper',
{button_center: button.centered},
{button_margin: button.margin},
{button_back: button.back},
{'event-button-primary': !button.secondary && !link.style},
{'event-button-secondary': button.secondary},
{'event-button-custom': hasBackground && !button.secondary}


To overwrite CTA style


.event-button-wrapper #event-button-${buttonId}:hover {box-shadow: ${toRgba(link.style.backgroundColor, '0.4')} 0 0 0 4px;}

.event-button-wrapper #event-button-${buttonId}:hover .link-label {border-bottom-color: ${link.style.color}`

url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229%22%20height%3D%2229%22%20viewBox%3D%220%200%2058%2058%22%3E%3Cpath%20fill%3D%22${link.style.color}%22%20d%3D%22M19.917%2015.84a1.352%201.352%200%200%200%200%201.92L31.26%2029.005%2019.917%2040.248a1.356%201.356%200%200%200%200%201.924l1.457%201.44c.534.532%201.41.532%201.943%200l13.785-13.646a1.356%201.356%200%200%200%200-1.924L23.317%2014.396a1.39%201.39%200%200%200-1.943%200l-1.457%201.444z%22%2F%3E%3C%2Fsvg%3E)


-->

<!-- Normal left aligned button - Primary  -->

<span class="event-button-wrapper button_margin event-button-primary">
  <a class="event-button" href="#">
    <span class="link-label">{Button Text}</span><span class="link-icon icon-chevron_right-white">&#160;</span>
  </a>
</span>


<!-- Centered Button -->

<span class="event-button-wrapper button_center button_margin event-button-primary">
  <a class="event-button" href="#">
    <span class="link-label">{Button Text}</span><span class="link-icon icon-chevron_right-white">&#160;</span>
  </a>
</span>