
<div class="row">
  <div class="trade-tile trade-tile--page-header">
    <span class="tile__image-container">
     <span class="responsive-background tile__image">
        <img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/zones/example/1748-2301-lego-heroheather-newrange.jpg" class="responsive-background--image tile__image--img" style="object-position:50% 50%;" />
      </span>
    </span>
  </div>
</div>
