{#
const hasPanel = !!(panelColor && panelColor.backgroundColor);
const bannerHasProduct2 = !!(product2 && product2.src);
const stampClasses = classs(
'slim-trade-banner',
`slim-trade-banner__${priority}`,
{banner_hasPanel: hasPanel},
{banner__product2: bannerHasProduct2}
);
const onClick = componentClickHandler && componentClickHandler.bind({}, props);
const backgroundImg = background && background.src ? { backgroundImage: `url(${background.src})` } : {};
#}

{#

You WILL need a css file to overwrite the CTA color and hover if it is not tesco blue


.cta_inner {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229%22%20height%3D%2229%22%20viewBox%3D%220%200%2058%2058%22%3E%3Cpath%20fill%3D%22${ctaColor.md_color}%22%20d%3D%22M19.917%2015.84a1.352%201.352%200%200%200%200%201.92L31.26%2029.005%2019.917%2040.248a1.356%201.356%200%200%200%200%201.924l1.457%201.44c.534.532%201.41.532%201.943%200l13.785-13.646a1.356%201.356%200%200%200%200-1.924L23.317%2014.396a1.39%201.39%200%200%200-1.943%200l-1.457%201.444z%22%2F%3E%3C%2Fsvg%3E);
  background-color: ${ctaColor.md_backgroundColor}
}
a:hover .cta_inner {
  box-shadow: 0 0 0 4px ${toRgba(ctaColor.md_backgroundColor, '0.4')};
}

#}

<!-- Full Width Banner with Background Only -->

<div class="row">
  <div class="slim-trade-banner slim-trade-banner__high">
    <div class="slim-banner--wrap" style="background-color: #fff;">
      <a class="stamp--a" href="#">
        <span class="img--container" style="background-image: url();">
          <!--<span class="eventPing-widget"><img src="" alt="" /></span>-->
          &#160;
        </span>
        <span class="panel--container">
            <span class="panel--img"><img class="banner--brand-img" src="" alt="" /></span>
          <span class="panel--inner" style="color: #222">
            <span class="caption--container">
              <span class="caption--wrapper">
                <span class="caption--title">{headline}</span>
                <span class="caption--sub_headline">{subHeadline}</span>
              </span>
            </span>
            <p class="caption--terms">{termsText}</p>
          </span>
          <span class='cta'><span class="cta_inner">&#160;</span></span>
        </span>
      </a>
    </div>
  </div>
</div>


<!-- Full Width Banner with Products -->

<!--
<div class={stampClasses} onClick={onClick}>
  <div class="slim-banner--wrap" style={bannerColor}>
    <a class="stamp--a" href={link.href}>
      <span class="img--container" style={backgroundImg}>
        {product1 && product1.src ? <img class="trade--product trade--product_1" src={product1.src} alt={product1.alt} /> : null}
        {product2 && product2.src ? <img class="trade--product trade--product_2" src={product2.src} alt={product2.alt} /> : null}
        {eventPing && eventPing.src ? <EventPing pingSrc={eventPing.src} pingAlt={eventPing.alt} /> : null}
      </span>
      <span class="panel--container">
        {priority === "high" && brandLogo && brandLogo.src ?
          <span class="panel--img"><img class="banner--brand-img" src={brandLogo.src} alt={brandLogo.alt} /></span>
          : null}
        <span class="panel--inner" style={textColor}>
          <span class="caption--container">
            <span class="caption--wrapper">
              <span class="caption--title">{headline}</span>
              {subHeadline ? <span class="caption--sub_headline">{subHeadline}</span> : null}
            </span>
          </span>
          {termsText ? <p class="caption--terms">{termsText}</p> : null}
        </span>
        <TradeCta uid={placement} ctaColor={ctaColor}/>
        {panelColor ? <span class="panel--container__mobileBackground" style={panelColor}></span> : null}
      </span>
    </a>
  </div>
</div>-->
