
<!-- Title and Paragraph -->
<span class="ui-qa--content">
  <span>
    <dt><div class="ui-c-l--content-title"><h3 class="content-title__tag"><span class="content-title__txt">{title}</span></h3></div></dt>
    <dd><p>{textContent}</p></dd>
  </span>
</span>


<!-- Just a paragraph -->
<span class="ui-qa--content">
  <p>{textContent}</p>
</span>