<!--
'trade-tile--horizontal',
`trade-tile--size-${size}`, {
'trade-tile--desktop-invert': (['half', 'three-fifths'].includes(size) && !!desktopInvert),
'trade-tile--desktop-horizontal': ['half', 'three-fifths'].includes(size),
'trade-tile--tablet-horizontal': (['half', 'three-fifths'].includes(size) && tabletStyle === 'horizontal'),
'trade-tile--tablet-width-half': (['half', 'three-fifths'].includes(size) && tabletStyle === 'vertical'),
'trade-tile--tablet-horizontal trade-tile--desktop-horizontal trade-tile--desktop-width-half': size === 'quarter',
'trade-tile--mobile-horizontal trade-tile--mobile-hide-body': size === 'quarter' && !!mobileBody,
'trade-tile--desktop-image-three-fifths': size === 'three-fifths',
'trade-tile--mobile-width-half': (size === 'quarter' && !mobileBody) || (size === 'half' && mobileStyle && mobileStyle === 'half'),
'trade-tile--mobile-hide-body': size === 'half' && !!mobileBody,
'trade-tile--panel-colour': panelColour
-->


<!-- Trade Tile Horizontal Full - Three Fifths - One CTA -->

<div class="row clearfix">
  <div class="trade-tile trade-tile--horizontal trade-tile--size-full trade-tile--desktop-horizontal trade-tile--desktop-image-three-fifths">
    <a class="tile__parent-link" href="#">
      <div class="tile__image-container">
        <span class="responsive-background tile__image"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/zones/example/trade-tile-hor-3.5.png" class="responsive-background--image tile__image--img" alt=""  style="object-position:50% 50%;" /></span>
      </div>
      <div class="tile__caption-wrapper">
        <h3 class="tile__heading">{title}</h3>
        <p class="tile__body-text">{body}</p>
        <div class="tile__cta-wrapper">
          <span class="tile__cta-link tile__cta-link--primary"> {primaryLink.label} <span class="tile__cta-icon icon-chevron_right">&#160;</span></span>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Trade Tile Horizontal Full - One Half - One CTA -->

<div class="row clearfix">
  <div class="trade-tile trade-tile--horizontal trade-tile--size-full trade-tile--desktop-horizontal">
    <a class="tile__parent-link" href="#">
      <div class="tile__image-container">
        <span class="responsive-background tile__image"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/zones/example/trade-tile-hor-1.2.png" class="responsive-background--image tile__image--img" alt=""  style="object-position:50% 50%;" /></span>
      </div>
      <div class="tile__caption-wrapper">
        <h3 class="tile__heading">{title}</h3>
        <p class="tile__body-text">{body}</p>
        <div class="tile__cta-wrapper">
          <span class="tile__cta-link tile__cta-link--primary"> {primaryLink.label} <span class="tile__cta-icon icon-chevron_right">&#160;</span></span>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Trade Tile Horizontal Half - Half and Half - One CTA -->

<!--<div class="row clearfix">-->

  <div class="trade-tile trade-tile--size-half trade-tile--horizontal trade-tile--desktop-horizontal trade-tile--tablet-horizontal trade-tile--desktop-width-half">
    <a class="tile__parent-link" href="#">
      <div class="tile__image-container">
        <span class="responsive-background tile__image"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/zones/example/trade-tile-hor-half.png" class="responsive-background--image tile__image--img" alt=""  style="object-position:50% 50%;" /></span>
      </div>
      <div class="tile__caption-wrapper">
        <h3 class="tile__heading">{title}</h3>
        <p class="tile__body-text">{body}</p>
        <div class="tile__cta-wrapper">
          <span class="tile__cta-link tile__cta-link--primary" href="#"> {primaryLink.label} <span class="tile__cta-icon icon-chevron_right">&#160;</span></span>
        </div>
      </div>
    </a>
  </div>

  <!--...-->

<!--</div>-->


      <!--{ secondaryLink && !!secondaryLink.label &&
      <a class="tile__cta-link tile__cta-link--secondary"
      href={secondaryLink.href}
      target={secondaryLink.newWindow ? "_blank" : null}>
      {secondaryLink.label}
      <TileChevron newWindow={secondaryLink.newWindow} />
      </a>
      }-->