
<!-- STAMP 25% -->
<div class="ui-stamp-widget ui-stamp-widget__low">
  <div class="stamp-widget--inner">
    <a class="stamp--a" href="#">
      <span class="stamp--img-container">
        <span class="responsive-background stamp--img"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/zones/example/tradestamp_25.png" class="responsive-background--image stamp--img" style="object-position:50% 50%;" /></span>
        <span class="eventPing-widget"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/P/i/home/freshness/ping/only_1pounds_grey.png" alt="" /></span>
      </span>
      <span class="stamp--caption-wrapper">
        <p class="caption-wrapper--p">{CTA TEXT}</p>
        <span class="cta cta_center"><span class="cta_inner cta_inner__desktop">&#160;</span></span>
      </span>
    </a>
  </div>
</div>

<!-- STAMP 50% -->
<div class="ui-stamp-widget ui-stamp-widget__medium">
  <div class="stamp-widget--inner">
    <a class="stamp--a" href="#">
      <span class="stamp--img-container">
        <span class="responsive-background stamp--img"><img src="/groceries/MarketingContent/Sites/Retail/superstore/mercury/p/i/xx.jpg" class="responsive-background--image stamp--img" style="object-position:50% 50%;" /></span>
        <span class="eventPing-widget"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/P/i/home/freshness/ping/only_1pounds_grey.png" alt="" /></span>
      </span>
      <span class="stamp--caption-wrapper">
        <p class="caption-wrapper--p">{CTA TEXT}</p>
        <span class="cta cta_center"><span class="cta_inner cta_inner__desktop">&#160;</span></span>
      </span>
    </a>
  </div>
</div>