
<!--

'trade-tile',
'trade-tile--vertical',
`trade-tile--size-${size}`, {
'trade-tile--desktop-width-half': size === 'half',
'trade-tile--mobile-width-half trade-tile--mobile-hide-body trade-tile--tablet-width-half': size === 'half' && mobileStyle && mobileStyle === 'half',
'trade-tile--mobile-horizontal trade-tile--mobile-hide-body trade-tile--tablet-horizontal trade-tile--desktop-width-third': size === 'third',
'trade-tile--image-landscape': size === 'third' && !!landscapeImage,
'trade-tile--mobile-width-half trade-tile--tablet-width-half trade-tile--desktop-width-quarter': size === 'quarter',
'trade-tile--mobile-horizontal trade-tile--mobile-hide-body trade-tile--tablet-horizontal trade-tile--desktop-width-fifth': size === 'fifth'

-->


<!-- Trade Tile Vertical Half -->

<div class="trade-tile trade-tile--vertical trade-tile--size-half trade-tile--desktop-width-half">
  <a class="tile__parent-link" href="#&amp;icid=X">
    <div class="tile__image-container">
      <span class="responsive-background tile__image"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/zones/example/trade-tile-ver-1.2.png" class="responsive-background--image tile__image--img" alt=""  style="object-position:50% 50%;" /></span>
    </div>
    <div class="tile__caption-wrapper">
      <h3 class="tile__heading">{title}</h3>
      <p class="tile__body-text">{body}</p>
      <div class="tile__cta-wrapper">
        <span class="tile__cta-link tile__cta-link--primary">{primaryLink.label} <span class="tile__cta-icon icon-chevron_right">&#160;</span></span>
      </div>
    </div>
  </a>
</div>
