<!--
'trade-tile',
'trade-tile--basic',
`trade-tile--size-${size}`,
{'trade-tile--tablet-width-half trade-tile--desktop-width-half': size === 'half' },
{'trade-tile--mobile-width-half': size === 'half'  && mobileStyle && mobileStyle === 'half' },
{'trade-tile--mobile-horizontal trade-tile--tablet-width-third trade-tile--desktop-width-third': size === 'third' },
{'trade-tile--mobile-width-half trade-tile--tablet-width-half trade-tile--desktop-width-quarter': size === 'quarter' },
{'trade-tile--mobile-two-thirds trade-tile--tablet-width-two-thirds trade-tile--desktop-width-two-thirds': size === 'two-thirds' },
{'trade-tile--mobile-two-quarters trade-tile--desktop-width-half': size === 'two-quarters' }
-->

<!-- Half Trade Tile -->
<div class="trade-tile trade-tile--basic trade-tile--size-half trade-tile--tablet-width-half trade-tile--desktop-width-half">
  <a class="tile__parent-link" href="#">
    <div class="tile__image-container">
      <span class="responsive-background tile__image"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/XX.jpg" class="responsive-background--image tile__image--img" alt=""  style="object-position:50% 50%;" /></span>
    </div>
    <div class="tile__caption-wrapper"><p class="tile__cta-link">{link.label} <span class="tile__cta-icon icon-chevron_right">&#160;</span></p></div>
  </a>
</div>

<!-- Third Trade Tile with PING -->
<div class="trade-tile trade-tile--basic trade-tile--size-third trade-tile--mobile-horizontal trade-tile--tablet-width-third trade-tile--desktop-width-third">
  <a class="tile__parent-link" href="#">
    <div class="tile__image-container">
      <span class="eventPing-widget"><img src="" alt="" /></span>
      <span class="responsive-background tile__image"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/XX.jpg" class="responsive-background--image tile__image--img" alt=""  style="object-position:50% 50%;" /></span>
    </div>
    <div class="tile__caption-wrapper"><p class="tile__cta-link">{link.label} <span class="tile__cta-icon icon-chevron_right">&#160;</span></p></div>
  </a>
</div>


<!-- Quater Trade Tile -->
<div class="trade-tile trade-tile--basic trade-tile--size-quarter trade-tile--mobile-width-half trade-tile--tablet-width-quarter trade-tile--desktop-width-quarter">
  <a class="tile__parent-link" href="#">
    <div class="tile__image-container">
      <span class="responsive-background tile__image"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/p/i/XX.jpg" class="responsive-background--image tile__image--img" alt=""  style="object-position:50% 50%;" /></span>
    </div>
    <div class="tile__caption-wrapper"><p class="tile__cta-link">{link.label} <span class="tile__cta-icon icon-chevron_right">&#160;</span></p></div>
  </a>
</div>