.trade-tile {
  .tesco-font();
  font-size: 16px;
  line-height: 20px;
  padding: 16px 8px;
  vertical-align: top;
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }
  &.equal-height {
   position:relative;
   min-height:28.125rem;
  }
  @media(min-width:78.75rem) {
   .trade-tile.equal-height {
    min-height:28.125rem;
   }
  &-group {
    margin-bottom: 1.25rem;
  }
 }

}
.tile__parent-link {
  display: block;

  &:hover, &:active, &:focus {
    text-decoration: none;
    background-color: transparent;
  }
}

.tile__image-container {
  display: block;
  height: 0; // Responsive background images have height 0, and padding bottom
  position: relative;
}

.tile__heading {
  .tesco-font-bold();
  color: @header;
  font-size: 20px;
  line-height: 1.2em;

  @media @martiniLarge {
    font-size: 24px;
  }
}

.tile__body-text {
  color: @gray-2;
  margin-top: 24px;
}

.tile__caption-wrapper {
  margin-top: 20px;
  overflow: hidden;

  .trade-tile--has-background & {
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 36px;
  }
}

.tile__cta-wrapper {
  margin-top: 20px;
  overflow: hidden;
  padding-right: 12px;
  position: relative;
}

.tile__cta-link {
  .tesco-font-bold();
  clear: left;
  color: @link-colour;
  float: left;
  margin-right: 18px;
  position: relative;

  .tile__cta-icon {
    background-size: cover;
    display: inline-block;
    height: 16px;
    position: absolute;
    top: 2px;
    right: -29px;
    width: 22px;

    &--two-lines {
      right: -8px;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.tile__cta-link--secondary {
  margin-top: 12px;
}

.trade-tile--tablet-horizontal {
.tile__image-container,
.tile__caption-wrapper {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.tile__image-container {
  padding-bottom: ~"calc(50% - 12px)";
  margin-right: 12px;
  width: ~"calc(50% - 12px)";
}

.tile__caption-wrapper {
  margin: 0;
  padding: 0 8px 0 0;
  }
}

.trade-tile--desktop-width-half {
  display: inline-block;
  width: 50%;
}

div.trade-tile--desktop-width-third {
  display: inline-block;
  width: 33.33333%;
}

.trade-tile--desktop-width-two-thirds {
  display: inline-block;
  width: 66.666666%;
}

.trade-tile--desktop-width-quarter {
  display: inline-block;
  width: 25%;
}

.trade-tile--desktop-width-third,
.trade-tile--desktop-width-quarter {
  .tile__cta-wrapper {
    padding: 0;
  }
}

.trade-tile--desktop-width-third {
w  .tile__cta-link {
    width: ~"auto";
  }
}

.trade-tile--desktop-width-quarter {
  .tile__cta-link {
    width: ~"auto";
  }
}

.trade-tile--basic {
  &.trade-tile--size-half {
    .tile__image-container {
      padding-bottom: 64.9%;
    }
  }

  &.trade-tile--size-quarter,
  &.trade-tile--size-third {
    .tile__image-container {
      padding-bottom: 100%;
    }

    .eventPing-widget {max-width: 84px;}
  }
}


.trade-tile--desktop-horizontal {

  .tile__image-container,
  .tile__caption-wrapper {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
    }

    .tile__image-container {
      padding-bottom: ~"calc(50% - 12px)";
      margin-right: 0px;
      width: ~"calc(50% - 12px)";
    }

    .tile__caption-wrapper {
      margin: 0;
      padding: 0 8px 0 0;
    }

    &.trade-tile--size-full {
      .tile__image-container {
        padding-bottom: percentage(round((301/520)*0.5, 4));
      }
    }

    &.trade-tile--size-full.trade-tile--desktop-image-three-fifths {
      .tile__image-container {
        width: 58%;
        width: ~"60%";
        padding-bottom: percentage(round((310/536)*0.6, 4));
      }

      .tile__caption-wrapper {
        width: 40%;
      }
    }

    &.trade-tile--desktop-invert {
      .tile__parent-link {
        display: flex;
        flex-direction: row-reverse;
      }

      .tile__image-container,
      .tile__caption-wrapper {
        align-self: center;
      }

      .tile__image-container {
        padding-right: 12px;
      }

      .tile__caption-wrapper {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 12px;
      }
    }


  // Trade Tile Horizontal
  .trade-tile--horizontal {

    .tile__caption-wrapper {
      padding: 0 24px 0 12px;
    }

    &.trade-tile--size-three-fifths,
    &.trade-tile--size-half {
      .tile__image-container {
        padding-bottom: 57.8%;
      }
    }
  }

}

//Trade Tile :vertical
.trade-tile--vertical {

    &.trade-tile--size-half {
      .tile__image-container {
        padding-bottom: 57.9%;
      }

      &.trade-tile--tablet-width-half {
        .tile__image-container {
          padding-bottom: 64.9%;
        }
      }
    }

    &.trade-tile--size-third {
      &.trade-tile--image-landscape {
        .tile__image-container {
          padding-bottom: 57.6%;
        }
      }
      .tile__image-container {
        padding-bottom: 100%;
      }
    }

    &.trade-tile--size-quarter {
      .tile__image-container {
        padding-bottom: 100%;
      }
    }

  &.trade-tile--size-fifth {
    .tile__image-wrapper {
      width: 30%;
    }

    .tile__image-container {
      padding-bottom: 100%;
    }

    .tile__caption-wrapper {
      width: 70%;
    }
  }
}


/* Chevron CTA Right */
.icon-chevron_right {
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229%22%20height%3D%2229%22%20viewBox%3D%220%200%2058%2058%22%3E%3Cpath%20fill%3D%22%2300539F%22%20d%3D%22M19.917%2015.84a1.352%201.352%200%200%200%200%201.92L31.26%2029.005%2019.917%2040.248a1.356%201.356%200%200%200%200%201.924l1.457%201.44c.534.532%201.41.532%201.943%200l13.785-13.646a1.356%201.356%200%200%200%200-1.924L23.317%2014.396a1.39%201.39%200%200%200-1.943%200l-1.457%201.444z%22%2F%3E%3C%2Fsvg%3E') no-repeat center !important;
  -webkit-background-size: 29px 29px;
          background-size: 29px 29px;
  height: 29px;
  width: 29px;
}

.icon-chevron_right-white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 58 58'%3E%3Cpath fill='%23ffffff' d='M19.917 15.84a1.352 1.352 0 0 0 0 1.92L31.26 29.005 19.917 40.248a1.356 1.356 0 0 0 0 1.924l1.457 1.44c.534.532 1.41.532 1.943 0l13.785-13.646a1.356 1.356 0 0 0 0-1.924L23.317 14.396a1.39 1.39 0 0 0-1.943 0l-1.457 1.444z'/%3E%3C/svg%3E") !important;
  background-size: 29px 29px;
  height: 29px;
  width: 29px;
}
.icon-chevron_right-green {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOSIgaGVpZ2h0PSIyOSIgdmlld0JveD0iMCAwIDU4IDU4Ij48cGF0aCBmaWxsPSIjMzM2OTFlIiBkPSJNMTkuOTE3IDE1Ljg0YTEuMzUyIDEuMzUyIDAgMCAwIDAgMS45MkwzMS4yNiAyOS4wMDUgMTkuOTE3IDQwLjI0OGExLjM1NiAxLjM1NiAwIDAgMCAwIDEuOTI0bDEuNDU3IDEuNDRjLjUzNC41MzIgMS40MS41MzIgMS45NDMgMGwxMy43ODUtMTMuNjQ2YTEuMzU2IDEuMzU2IDAgMCAwIDAtMS45MjRMMjMuMzE3IDE0LjM5NmExLjM5IDEuMzkgMCAwIDAtMS45NDMgMGwtMS40NTcgMS40NDR6Ii8+PC9zdmc+Cg==") no-repeat center;
  -webkit-background-size: 29px 29px;
  background-size: 29px 29px;
  height: 29px;
  width: 29px;
}

/* Chevron CTA Left */
.icon-chevron_left {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAYAAABWk2cPAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAUhJREFUSIntlD9KA0EUh7955k8VvEdKGy+QEJFosptWCC4ewNIDeAEPkE1sQ7JLGkG0t1AiVp7BRg02EXWeRbRQEGZ2S/frFub3Pmb2vQcFBf8cNT6n13L7wrhF/W5OvfPA/ezWJSK5hMFwC2NmQA04do1ll4bxNtgZUMWywEjXNZrteXuDNkqCSAXLArRJsn/tGvdqAACC0S7oBKEM9hm0yfTgxqeEnzQcdlHGCGXUPqGmQRrNvWp4SYNRgOgYKGF5RKTBtO/Urb9xbCQ1iJ4CJQAMh1mFHlKjWLOH5W31bU8I4o2sUr9/2hu0sUwRqWRtIn8prOZTNf0xLmnkPC6QZTkk0RlIB3hFWAe9pDfY9Cnhf9Nvwrj1tQKrwAtGWkz6Vy7R7Gswic6xuoO1S6DGx3viGs238NPoApH2am7NUa5aBQUFf/EJgSlluawdWDcAAAAASUVORK5CYII=');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  height: 29px;
  width: 29px;
}
