@import "../_includes/base";
@import "../_includes/fonts";

/*

This file is included in every GHS page.

*/

/* Seasonal Nav Color */
#primaryNav li.seasonal, #primaryNav li.seasonal a {
  background-color: #0053a0 !important;
  color: #fff!important;
  &:hover, &:focus {
   background-color:  rgba(0, 83, 160, 0.6) !important;
   color:#fff!important;
  }
}
#primaryNav li.on.seasonal a {
  height: auto !important;
  border-bottom: 6px solid #0053a0;
}

// Actual Footer Code
@import "../_includes/footer/ghs-footer";

// GHS IT Overwrites
@import "../_includes/global-elements/it-overwrites";

// Ad Serving code
@import "../_includes/global-elements/ad-serving";

// LEGO zone Page code
@import "../_includes/zones/zone-base";

// Seasonal Overwrites
// @import "../_includes/global-elements/footer-seasonal-overwrites";

// Legacy Ping code -- Phase out
@import "../_includes/global-elements/pings";
