.ui-simple-banner {
  margin: 0;
  position: relative;

  .simple-banner-slide {
    overflow: hidden;
    position: relative;
    display: block;
    color: @platform-font-color;
    background-size: 50%;
    height: 258px;

    &:hover {
      text-decoration: none;
    }

    .responsive-background {
      height: 200px;
      width: 50%;
      margin-left: 50%;
      height: auto;

      .simple-banner-stamp {
        height: 100%;
      }
    }

    .simple-banner-stamp {
      background-size: cover;
      background-position: center;
      height: 258px;
    }

    .simple-banner-wrap {
      width: 100%;
      z-index: 5;
      position:relative;
      min-height:219px;
      margin-top: 0;
      padding: 0 12px;
      width: 50%;
      display:table;
      height: 100%;
      box-sizing: border-box;

      .simple-banner-content {
        width: 100%;
        display: table-cell;
        vertical-align: middle;

        .event-title {
          line-height: 1em;
          .tesco-font();
          letter-spacing: -1.5px;
          margin: 0;
          padding-bottom: 6px;
          padding-top: 0;
          font-size: 25px;
        }

        .event-description {
          .tesco-font();
          line-height: 1.3em;
          font-size: 16px;
          margin-bottom: 14px;
        }

        .event-terms {
          font-size: 14px;
          .tesco-font();
          margin-top: 22px;
          position: absolute;
          bottom: 4%;
          margin-bottom: 4px;
        }
      }
    }
  }

  &--border {
    border-radius: 3px;
    border: 2px solid transparent;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right: 0;
  }

  &.banner__eventBorder {
    .simple-banner-slide {
      border-radius: 5px;
    }
  }
}

@media @martiniLarge {

  div.ui-simple-banner {
    a.simple-banner-slide {
      height: 351px;
      .simple-banner-stamp {
        height: 351px;
      }
      div.simple-banner-wrap {
        min-height: 351px;
        padding: 0 16px;

        .simple-banner-content {
          h3.event-title {
            font-size: 44px;
            padding-bottom: 6px;
            line-height: 1em;
          }
          .event-description {
            font-size: 24px;
            line-height: 1.2em;
          }
        }
      }
    }
  }

}

// ONLY FOR STATIC IMAGE

.ui-simple-banner .simple-banner-slide .simple-banner-stamp {
  &.static_img {
    @media @martiniSmall {
      display: block;
    }
  }
}

.event-button-bottom-right {position:absolute;right:16px;bottom:16px}

.with-ping {width:100%!important;margin:0!important;height:256px}

@media @martiniLarge {
    .with-ping {height:351px}
}
