.ui-qa--content {
  display:block;
  margin: 0 12px;

  dd {
    margin:0;
  }

  .ui-c-l--content-title {padding: 0;}

  p {
    margin: 4px auto;
    font-size: 14px;
    color: #666;
    .tesco-font();
  }
}