
<div id="ui-ddl-carousel" class="ui-ddl-carousel">
  <input type="radio" name="slider_id0" id="id0_slide_0" class="carousel_input" checked="checked"/>
  <input type="radio" name="slider_id0" id="id0_slide_1" class="carousel_input" />
  <input type="radio" name="slider_id0" id="id0_slide_2" class="carousel_input" />

  <div class="carousel__slides">
    <div class="carousel__overflow">
      <div class="inner">
        <div class="carousel__item" >
          <!-- Content -->
        </div>
        <div class="carousel__item" >
          <!-- Content -->
        </div>
        <div class="carousel__item" >
          <!-- Content -->
        </div>
      </div>
    </div>
  </div>
    <div class="carousel__controls">
    <button id="ui-ddl-carousel_prev" class="slider_control control_prev icon-chevron_left">Previous</button>
    <div class="carousel__dots">
      <label for="id0_slide_0" class="dots_label">Offer 1</label>
      <label for="id0_slide_1" class="dots_label">Offer 2</label>
      <label for="id0_slide_2" class="dots_label">Offer 3</label>
    </div>
    <button id="ui-ddl-carousel_next" class="slider_control control_Next icon-chevron_right">Next</button>
    <div class="play-pause-container">
      <button id="ui-ddl-carousel_pause" class="slider_control control_pause icon-pause">Pause</button>
      <button id="ui-ddl-carousel_play" class="slider_control control_play icon-play">Play</button>
    </div>
  </div>
</div>
