<!--
Also called Simple Home Banner

Add "banner__eventBorder" class if there is a border
-->

<div class="ui-simple-banner">
  <a class="simple-banner-slide" href="" style="color:#000000; background-color: #ddd">
    <div class="simple-banner-ping">
      <span class="eventPing-widget"><img src="/groceries/marketingcontent/sites/retail/superstore/mercury/P/i/home/freshness/ping/only_1pounds_grey.png" alt="" /></span>
    </div>
   <span class="responsive-background simple-banner-stamp"><img src="/groceries/MarketingContent/Sites/Retail/superstore/mercury/P/i/home/2017/wkxx/xx.jpg" class="responsive-background--image simple-banner-stamp" style="object-position:50% 50%;" alt="" /></span>
    <div class="simple-banner-wrap">
      <div class="simple-banner-content clear">
        <h3 class="event-title" style="color:#000000">{title}</h3>
        <p class="event-description">{description}</p>
        <span class="event-button-wrapper event-button-custom"><span class="event-button" style="background-color:#fff; color:#9D0500;"><span class="link-label">Find Out More</span><span class="link-icon icon-chevron_right-white">&#160;</span></span></span>
        <!--<p class="event-terms">{eventTerms}</p>-->
      </div>
    </div>
  </a>
  <!--<div class="ui-simple-banner--border" style={eventBorder}>&#160;</div>-->
</div>