.ui-trade-table-small {
  border-collapse: collapse;
  min-width: 65%;
  margin:24px 12px;
  border-bottom: 1px solid @ddl-border;
  border-right: 1px solid @ddl-border;
  font-size: medium;
  .tesco-font();

  th, td {
    background: white;
    color: @gray-2;
    padding: 12px 24px;
    border-top: 1px solid @ddl-border;
    border-left: 1px solid @ddl-border;
    border-bottom: 1px solid @ddl-border;
  }
  th {
    background: @ddl-background;
    color: @ddl-grey-6;
    font-size: 20px;
  }
}
