.responsive-background {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .responsive-background--image {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}