
/* Ad Seving Code */
.div-gpt-grocery div, .div-gpt-grocery iframe {width: 100% !important;height: 89px !important; border:0; outline:0}
@media screen and (min-width: 1260px) {.div-gpt-grocery div, .div-gpt-grocery iframe {height: 100px !important; border:0; outline:0}}
.showIframe {height:100px !important; margin-bottom:20px}.showIframe100 {height: 74px !important;}.showIframe75 {height: 55px !important;}.showIframe136 {height: 136px !important;}.showIframe185 {height: 185px !important;}
@media screen and (min-width: 1260px) {.showIframe100 {height: 100px !important;}.showIframe75 {height: 75px !important;}}
.div-gpt-grocery185, .div-gpt-grocery136 {margin-bottom: 12px;}
.div-gpt-grocery185, .div-gpt-grocery185 iframe {height: 185px !important;}
.div-gpt-grocery136, .div-gpt-grocery136 iframe {height: 136px !important;}
.div-gpt-grocery .div-gpt-grocery-wrapper {height: 74px !important;width: 704px !important;}
#department .div-gpt-grocery .div-gpt-grocery-wrapper {height: 100px !important;width: 790px !important;}
#product_browse .div-gpt-grocery .div-gpt-grocery-wrapper {width: 355px !important;}
#product_search .div-gpt-grocery div {margin-bottom:10px; overflow:hidden}
#product_search .div-gpt-grocery div {height: 55px !important;}
#checkout_confirmation .div-gpt-grocery div, #checkout_confirmation .div-gpt-grocery iframe {width: 300px !important;height: 250px !important;}
#favourites #marketingContent iframe, #specialoffers #marketingContent iframe {max-width:960px}
@media screen and (min-width: 1260px) {
  .div-gpt-grocery .div-gpt-grocery-wrapper {height: 100px !important;width: 960px !important;}
  #department .div-gpt-grocery .div-gpt-grocery-wrapper {width: 790px !important;}
  #product_browse .div-gpt-grocery .div-gpt-grocery-wrapper {width: 480px !important;}
  #product_search .div-gpt-grocery div {height: 75px !important;}
}