
/* Christmas 2016 */
#secondaryNav ul.navigation > li li a[href*="4294675326"],
#secondaryNav ul.navigation > li li a[href*="4294697754"],
#secondaryNav ul.navigation > li li a[href*="4294697396"],
#secondaryNav ul.navigation > li li a[href*="4293281235"],
#secondaryNav ul.navigation > li li a[href*="4294682147"],
#secondaryNav ul.navigation > li li a[href*="4294675267"],
#secondaryNav ul.navigation > li li a[href*="4294697741"],
#secondaryNav ul.navigation > li li a[href*="4294675541"],
#secondaryNav ul.navigation > li li a[href*="4294172868"],
#secondaryNav ul.navigation > li li a[href*="4292382043"],
#secondaryNav ul.navigation > li li a[href*="4294676054"],
#secondaryNav ul.navigation > li li a[href*="4292329262"],
#secondaryNav ul.navigation > li li a[href*="4294681744"],
#secondaryNav ul.navigation > li li a[href*="4294702814"],
#secondaryNav ul.navigation > li li a[href*="4294792228"],
#secondaryNav ul.navigation > li li a[href*="christmas"] {
  color: #9D0500;
  background-image: url("http://www.tesco.com/groceries/MarketingContent/Sites/Retail/superstore/mercury/P/i/cta/arrow_right_red.png");
}
#secondaryNav ul.navigation > li li a[href*="4294675326"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294697754"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294697396"]:hover,
#secondaryNav ul.navigation > li li a[href*="4293281235"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294682147"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294675267"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294697741"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294675541"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294172868"]:hover,
#secondaryNav ul.navigation > li li a[href*="4292382043"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294676054"]:hover,
#secondaryNav ul.navigation > li li a[href*="4292329262"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294681744"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294702814"]:hover,
#secondaryNav ul.navigation > li li a[href*="4294792228"]:hover,
#secondaryNav ul.navigation > li li a[href*="christmas"]:hover {
  background-color: #9D0500;
  background-image: url("http://www.tesco.com/groceries/MarketingContent/Sites/Retail/superstore/mercury/P/i/cta/Arrow-CTA-white.png");
  background-size: 6px 10px;
  color: white;
}
#secondaryNav ul.navigation > li li a[href*="4294675326"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294697754"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294697396"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4293281235"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294682147"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294675267"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294697741"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294675541"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294172868"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4292382043"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294676054"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4292329262"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294681744"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294702814"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="4294792228"] ~ div a,
#secondaryNav ul.navigation > li li a[href*="christmas"] ~ div a {
  color: #9D0500;
}
#secondaryNav ul.navigation > li li a[href*="4294675326"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294697754"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294697396"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4293281235"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294682147"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294675267"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294697741"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294675541"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294172868"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4292382043"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294676054"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4292329262"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294681744"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294702814"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="4294792228"] ~ div a:hover,
#secondaryNav ul.navigation > li li a[href*="christmas"] ~ div a:hover {
  background-color: #9D0500;
  color: white;
}
#secondaryNav ul.navigation > li li a[href*="4294675326"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294697754"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294697396"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4293281235"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294682147"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294675267"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294697741"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294675541"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294172868"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4292382043"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294676054"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4292329262"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294681744"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294702814"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="4294792228"] ~ div li:first-child a,
#secondaryNav ul.navigation > li li a[href*="christmas"] ~ div li:first-child a {
  background-image: none;
}
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294675326"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294697754"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294697396"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4293281235"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294682147"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294675267"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294697741"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294675541"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294172868"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4292382043"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294676054"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4292329262"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294681744"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294702814"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="4294792228"].level3,
#secondaryNav ul.navigation > li li.menuNavFocus a[href*="christmas"].level3 {
  background-color: #9D0500;
  background-image: url("http://www.tesco.com/groceries/MarketingContent/Sites/Retail/superstore/mercury/P/i/cta/Arrow-CTA-white.png");
  background-size: 6px 10px;
  color: white;
}
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294675326"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294697754"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294697396"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4293281235"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294682147"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294675267"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294697741"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294675541"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294172868"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4292382043"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294676054"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4292329262"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294681744"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294702814"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="4294792228"],
#secondaryNav ul.navigation > li .menuExtendedLeft li a[href*="christmas"] {
  background-image: url("http://www.tesco.com/groceries/MarketingContent/Sites/Retail/superstore/mercury/P/i/cta/arrow_right_red_back.png");
}
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294675326"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294697754"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294697396"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4293281235"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294682147"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294675267"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294697741"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294675541"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294172868"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4292382043"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294676054"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4292329262"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294681744"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294702814"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="4294792228"].level3,
#secondaryNav ul.navigation > li .menuExtendedLeft li.menuNavFocus a[href*="christmas"].level3 {
  background-image: url("http://www.tesco.com/groceries/MarketingContent/Sites/Retail/superstore/mercury/P/i/cta/Arrow-CTA-white-back.png");
  background-size: 6px 10px;
}