img.ping {
  position: absolute; 
  left: auto; 
  top: 10px; 
  right: 10px; 
  z-index: 10;

  &, .ping_small & {
    width: 47px;
    @media @martiniLarge {
      width:65px;
    }
  }
  .ping_medium & {
    width: 72px;
    @media @martiniLarge {
      width:96px;
    }
  }
  .ping_large & {
    width: 91px;
    @media @martiniLarge {
      width:121px;
    }
  }

  a:hover &, a:focus & {
    opacity: 1;
  }

  .hero &, .bannerRotator & {
    top:20px; 
    right:20px;
  }


  &.ping_sec_pos {
    right: 41.48%;
    .hero &, .bannerRotator & {
      right:29.7%;
    }
  }

}