.line-divider {
  border-bottom: 1px solid @ddl-border;
  height: 1px;
  display: block;
  margin: 22px 12px;

  @media @martiniLarge {
    margin: 28px 12px 24px;
  }
  &.kids{
    margin-left: 0px;
    margin-right: 0px;
  }
}
