@import "../_includes/base";

// Context Cards
@import "../_includes/home/context-cards";

// Carousel
@import "../_includes/home/carousel-wrapper";

// Carousel
@import "../_includes/home/title-and-paragraph";

// Proposition Banner / Simple Home Banner
@import "../_includes/home/proposition-banner";

// Anon and FTS code
@import "../_includes/home/anon-fts";


.welcome-p {
  text-align: center;
}

.button-area {
  text-align: center;

  .event-button-wrapper {
    margin:0 12px 12px;
  }
}

#home {
  .ui-c-l--content-title {
    margin-top: 36px;
  }
  .event-button-wrapper.button_margin {
    margin-bottom: 36px;
  }

  .div-gpt-grocery {
    margin: 20px 0 12px;
  }
}
