.ui-c-l--content-title {
  display: block;
  width: calc(100% - 16px);
  padding: 0 8px;
  margin: 16px 0;
  max-width: 666px;

  &--centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &--no__horizontal {
    padding-left: 0;
    padding-right: 0;
  }

  .content-title__tag {
    color: @header;
    .tesco-font-bold();
    font-size: medium;
    line-height: 1.2em;

  }

  .content-title__subtitle {
    .tesco-font();
    color: @header-subtitle;
    font-size: @font-small;
    line-height: 1.2em;
  }

  h1.content-title__tag {
    .font-h1_mobile();
    line-height: 1.2em;
    margin-top: 10px;
    + .content-title__subtitle {
      font-size: @font-large;
     }
  }

  h2.content-title__tag {
    div#contentMain & {
      .font-h2_mobile();
      margin-bottom: 0;
      padding-bottom: 0;
      line-height: 1.2em;
      color: @header;
      .tesco-font-bold();
      + .content-title__subtitle {
        font-size: @font-medium;
      }
    }
  }

  h3.content-title__tag {
    .font-h3_mobile();
    line-height: 1.2em;
  }

  &--has_subtitle {
    .content-title__tag {
      margin-bottom: 10px;
    }
  }
}


  .ui-c-l--content-title {
    h1.content-title__tag {
      margin-top: 14px;
      margin-bottom: 0;
    }
  }


  .ui-c-l--content-title {

    margin-top: 16px;
    margin-bottom: 10px;

    h1.content-title__tag {
      .font-h1_dt();
      margin-top: 30px;
    }

    h2.content-title__tag {
      div#contentMain & {
        .font-h2_dt();
      }
    }

    h3.content-title__tag {
      .font-h3_dt();
    }

    &--has_subtitle {
      h1.content-title__tag {
        margin-bottom: 20px;
      }
      h2.content-title__tag {
        div#contentMain & {
          margin-bottom: 20px;
        }
      }
    }

  }
