.ui-stamp-widget {

  float:left;
  position:relative;
  width:100%;
  padding:16px 8px;
  box-sizing: border-box;


  .stamp-widget--inner {
    border: 1px solid @gray-5;
    box-sizing: border-box;
  }

  a, span {
    display:block;
    text-decoration:none;
    color: @ddl-grey-6;
  }

  a:hover, a:focus {
    text-decoration:none;
    .responsive-background {
      opacity:0.9;
    }
  }

  .stamp--img-container {
    overflow:hidden;
    position:relative;
    height: 0;
    padding-bottom: percentage(round(184/296, 4));

    .responsive-background {
      height: 100%;
    }
  }

  .stamp--caption-wrapper {
    padding: 0 56px 0 8px;
    background: white;
    font-size: 1rem;
    position:relative;
    height: 64px;
    line-height: 1em;
    display: table;
    width: 100%;
    .tesco-font();
    box-sizing: border-box;

    p {
      margin-top:0;
      display: table-cell;
      vertical-align: middle;
    }

    .cta {
      &:before{
        width: 40px;
        height: 40px;
        margin-top:-20px;
      }
      .cta_inner {
        bottom: 12px;
        right: 8px;
      }
    }

  }

  &__low {
    width: 25%;
    .stamp--img-container {
      padding-bottom:100%;
    }
    .eventPing-widget {
      max-width:84px;
    }
  }

  &__medium {
    width: 50%;
    .stamp--img-container {
      padding-bottom: percentage(round(234/360, 4));
    }
    .eventPing-widget {
      max-width: 104px;
    }
  }

}

@media @martiniLarge {
  .ui-stamp-widget {
    &__medium {
      .stamp--img-container {
        padding-bottom: percentage(round(304/526, 4));
      }
    }
  }
}

#contentMain {
  margin: 0 12px;
}
@font-face {
  font-family: "tescoregular";
  font-weight: 400;
  src: url("/groceries/MarketingContent/Sites/Retail/superstore/Online/p/css/zones/rugby-2015/tesco-fonts/tesco-webfont-hinted.eot?") format("eot"), url("/groceries/MarketingContent/Sites/Retail/superstore/Online/p/css/zones/rugby-2015/tesco-fonts/tesco-webfont-hinted.woff") format("woff"), url("/groceries/MarketingContent/Sites/Retail/superstore/Online/p/css/zones/rugby-2015/tesco-fonts/tesco-webfont-hinted.ttf") format("truetype");
}
