.slim-trade-banner {
  box-sizing: border-box;
  margin: 12px 0;
  padding: 0 12px;

  * {
    box-sizing: border-box;
  }

  .slim-banner--wrap {
    position:relative;
  }

  a {
    display:block;

    &:not([href]) {
      pointer-events: none;
      .cta {display:none}
    }

    & :hover { cursor: pointer }
  }

  .img--container {
    display:block;
    height:158px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    .eventPing-widget {
      max-width:84px;
    }
  }

  .trade--product {
    position:absolute;
    display:inline-block;
    left:auto;
    max-height:158px;
    max-width:158px;

    &.trade--product_1{
      right:30%;
      z-index:10;
    }

    &.trade--product_2, &.trade--product_3{
      display:none;
    }
  }

  .panel--container {
    position:relative;
    display:table;
    padding:12px;
    height: 100px;
    width:100%;

    .panel--img {
      display:none;
    }

    .panel--inner {
      padding-right:60px;
      position:relative;
      z-index:5;
      display: table;
      height: 104px;
      width: 100%;

      span {
        line-height:1em;
      }
    }

    .caption--container {
      display: table-row;
      height: 100%;
      width: 100%;
    }

    .caption--wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    .caption--title {
      .tesco-font();
      font-size:24px;
    }

    .caption--sub_headline, .caption--terms {
      .tesco-font();
      margin-top: 7px;
      font-size:16px;
    }

    .caption--sub_headline {
      display: inline-block;
    }

    .caption--terms {
      display: table-row;
      height: 1px;
      font-size: small;
    }

  }

}


// 600+

div.slim-trade-banner {

  .stamp--a {
    overflow:hidden;
    position:relative;
  }

  .img--container {
    float: right;
    width: 50%;
    height:128px;

    .trade--product {
      max-height:128px;
      max-width:128px;
    }

    .eventPing-widget {
      right: 72px;
    }
  }

  .panel--container {
    position: static;
    float: left;
    height: 128px;
    width:50%;

    &__mobileBackground {
      display:none;
    }
  }
}


// 768+
div.slim-trade-banner {
  &__high {
      .trade--product {
      &.trade--product_2 {
        right: 15%;
        display:inline-block;
        z-index: 8;
      }
    }
  }
}

@media @martiniLarge {

  div.slim-trade-banner {
    float: left;

    // Medium Priotiy
    width: 50%;

    &__high{
      width:100%
    }

    .panel--container {

      .panel--inner {
        padding-right:10%;

        &__one_line {
          padding-right: 9%;
        }
      }


      .panel--img {
        display:table-cell;
        vertical-align: middle;
        padding-right: 12px;
        width: 124px;

        .banner--brand-img {
          max-width:112px;
          max-height:80px;
          display:block;
          margin: 0 auto;
        }
      }

    }

    // Placement of images depending on different product numbers
    &__high {
      .img--container {
        .trade--product {
          &.trade--product_1 {
            right:15%;
          }
        }
      }

       &.banner__product2 {
         .trade--product {
          &.trade--product_1 {
            right:30%;
          }
        }
       }
    }

  }

}


// Trade CTA

.cta {
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  display: inline-block;
  z-index:5;

  .cta_inner {
    bottom:20px;
    right:8px;
    position:absolute;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top:-20px;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 58 58'%3E%3Cpath fill='%23ffffff' d='M19.917 15.84a1.352 1.352 0 0 0 0 1.92L31.26 29.005 19.917 40.248a1.356 1.356 0 0 0 0 1.924l1.457 1.44c.534.532 1.41.532 1.943 0l13.785-13.646a1.356 1.356 0 0 0 0-1.924L23.317 14.396a1.39 1.39 0 0 0-1.943 0l-1.457 1.444z'/%3E%3C/svg%3E");
    background-color: @tesco-blue;

    a:hover &, a:focus & {
      box-shadow: 0 0 0 4px rgba(0,83,159, 0.4);
    }
  }

  &.cta_center {
    top:50%;
    margin-top:-24px;
    bottom: 0;
  }
}
