@import "../../_includes/base";

/* Rich Produt Blocks */
.richWrapper {
  padding-bottom:30px; 
  height:100%; 
  overflow:auto;
  font-size: 0;
}
.richBlock {
  width:33.33%;
  float:left;
  background:no-repeat;

  a {
    display:block;
    padding:0;
    overflow:hidden;
    border:1px solid #cdcdcd;
    margin-right:6px;

    &:hover, &:focus {
      p {
        text-decoration: underline;
      }
      img{ 
        opacity:.8;
        transition:all .25s ease-in-out;
      }
    }

    img {
      transition:all .25s ease-in-out;
      width: 100%;
      border-bottom:1px solid #cdcdcd;
    }
  }
}

.richText {
  background:#f8f8f8;
  padding:10px 5px;
  position:relative;

  p {
    padding:0 15px 0 0;
    font-size:12px!important;
    font-weight:700;
    color: @tesco-blue!important;
    margin-bottom:0!important;
    min-height:32px;

    @media @martiniLarge {
      min-height: 5px;
    }
  }
}

.richCTA {
  top:50%;
  right:10px;
  position:absolute;
  margin-top:-6px;
}
