@import "../_includes/base";

/* Delivery Options Page, to Refresh */
.innerContent {
  font-size: medium;

  p.terms {
    color:#666; 
    margin:5px 0;
    font-size: 14px;
  }
}

#deliveryoption {

  div#contentMain {
    
    .headerContent h1, .innerContent h2 {
      .tesco-font-bold();
      text-align: center;
      font-size: 24px;
      color: @tesco-blue;
      margin-top: 0;
      margin-bottom: 0;
      padding:0;
      display: block;
      min-height: 32px;

      @media @martiniLarge {
        font-size:30px
      }
    }
   
  }

  .proceedButton {
    position:absolute; left:0; float:none; display:inline-block; top:5px;
    a {background-position:5% center; background-repeat:no-repeat;}
  }
}

.headerContent {position:relative}

.chooseDelivery {
  overflow:hidden; 
  margin:15px 0 10px; 
  position:relative; 
  list-style:none;

  li {
    float:left; 
    text-align:center;
    background-repeat: no-repeat;
    background-position: top center;
    width: 50%;

    &.home_del{
      background-image:url(/groceries/MarketingContent/Sites/Retail/superstore/mercury/p/i/DeliveryOption/HD-bg.jpg);
      background-color: #e8ecf5;
      h2 {
        background-image: url(/groceries/MarketingContent/Sites/Retail/superstore/mercury/p/i/DeliveryOption/Delivery-blue-van.png);
        @media @martiniLarge {background-position: 11% 20%;}
      }
    }

    &.click_del {
      background-image:url(/groceries/MarketingContent/Sites/Retail/superstore/mercury/p/i/DeliveryOption/CC-bg.jpg);
      background-color: #fae5ea;
      h2 {
        background-image: url(/groceries/MarketingContent/Sites/Retail/superstore/mercury/p/i/DeliveryOption/CnC-red-car.png); 
        #deliveryoption div#contentMain .innerContent & {
          color:#c3002f;
        }
        @media @martiniLarge {background-position: 11% 20%;}
      }
      .event-button-wrapper .event-button:hover {
        box-shadow: rgba(195, 0, 47,.4) 0 0 0 4px;
      }
    }

    &.del_saver {
      display: none;
    }

    h2 {
      background-repeat: no-repeat; 
      background-position: 0 20%;
      margin:133px 0 18px 58px; 
      .tesco-font-bold();
    }

    p {
      margin: 16px 0;
      color: #222;
      .tesco-font();
      @media @martiniLarge {
        span {display: block}
      }
    }

    img {display:block; margin:0 auto 20px; width:90%}
  }

  a.deliveryInner_dblstamp {
    overflow: hidden; 
    padding: 165px 20px 20px;
    display:block; 
    position:relative;

    &:hover, &:hover, &:active {
      text-decoration: none;
      background-color: transparent;
    }
  }

}

div.slim-trade-banner {
  padding: 0;

  #delivery & {
    margin: 0; // Remove margin on click and collect page
  }

  a {
    width: 100%;
  }
}
