/*! Edit this file in LESS  */

/* Colors */
@import "colors";


/* Break Points */
@martiniLarge: ~"(min-width: 1260px)";
@martiniSmall: ~"screen and (max-width: 1259px)";

/* Anchor Focus State */
a:focus, a:active {
  background: inherit;
}

/* Fonts */
@font-xxxlarge: 36px;
@font-xxlarge: 32px;
@font-xlarge: 28px;
@font-large: 24px;
@font-medium: 20px;
@font-small: 16px;

//Mixins for font Size
.font-h1_dt(){
  font-size: @font-xxxlarge;
  line-height: 1.22em;
}

.font-h1_mobile(){
  font-size: @font-xxlarge;
  line-height: 1.25em;
}

.font-h2_dt(){
  font-size: @font-xlarge;
  line-height: 1.28em;
}
.font-h2_mobile(){
  font-size: @font-large;
  line-height: 1.16em;
}

.font-h3_dt(){
  font-size: @font-large;
  line-height: 1.33em;
}
.font-h3_mobile(){
  font-size: @font-medium;
  line-height: 1em;
}


.tesco-font-bold() {
  font-family: 'tescoregular', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.tesco-font() {
  font-family: 'tescoregular', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
