@tesco-blue: #00539F;

@gray-5: #ccc;
@gray-2: #666;

@ddl-grey-5: #f6f6f6;
@ddl-grey-6: #333333;
@ddl-grey-7: #ccc;
@ddl-background: #efefef;

@platform-font-color: #414141;
@link-colour: @tesco-blue;

@header: #333333;
@header-subtitle: #666666;

@ddl-border: #dedede;
