/* FONTS */
@font-face {
  font-family: "tescoregular";
  font-weight: 400;
  src: url("/groceries/MarketingContent/Sites/Retail/superstore/Online/p/css/zones/rugby-2015/tesco-fonts/tesco-webfont-hinted.eot?") format("eot"), url("/groceries/MarketingContent/Sites/Retail/superstore/Online/p/css/zones/rugby-2015/tesco-fonts/tesco-webfont-hinted.woff") format("woff"), url("/groceries/MarketingContent/Sites/Retail/superstore/Online/p/css/zones/rugby-2015/tesco-fonts/tesco-webfont-hinted.ttf") format("truetype");
}
